{% extends "base.html" %}
{% block content %}

        <!-- reg-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>Регистрация</h3>
				<p>Добро пожаловать, пожалуйста, введите данные, чтобы продолжить</p>
				 <form>
					<ul>
						<li class="text-info">Фамилия: </li>
						<li><input type="text" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Имя: </li>
						<li><input type="text" value=""></li>
					 </ul>				 
					<ul>
						<li class="text-info">Email: </li>
						<li><input type="text" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Пароль: </li>
						<li><input type="password" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Подтвеждение пароля:</li>
						<li><input type="password" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Номер телефона:</li>
						<li><input type="text" value=""></li>
					</ul>						
					<input type="submit" value="Зарегистрироваться">
					<p class="click">Регистрируясь, вы соглашаетесь с  <a href="#">правилами пользования</a></p> 
				</form>
			</div>
		</div>
	</div>
        
    </body>
</html>

{% endblock content %}