{% extends "base.html" %}
{% block content %}

        <!--signup-->
        <!-- login-page -->
        <div class="login">
            <div class="container">
                <div class="login-grids">
                    <div class="col-md-6 log">
                             <h3>Войти</h3>
                             <div class="strip"></div>
                             <p>Добро пожаловать, пожалуйста, введите логин и пароль, чтобы продолжить.</p>
                             <form>
                                 <h5>Логин:</h5>	
                                 <input type="text" value="">
                                 <h5>Пароль:</h5>
                                 <input type="password" value=""><br>					
                                 <input type="submit" value="Войти">

                             </form>
                            <a href="#">Забыли пароль ?</a>
                    </div>
                    <div class="col-md-6 login-right">
                            <h3>Регистрация</h3>
                            <div class="strip"></div>
                            <p>Создав учетную запись в нашем магазине, вы сможете быстрее проходить процесс оформления заказа, хранить несколько адресов доставки, просматривать и отслеживать свои заказы в своей учетной записи и многое другое.</p>
                            <a href="{{ url_for ('register')}}" class="button">Зарегистрироваться</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
<!-- //login-page -->
        <!--signup-->
    </body>
</html>

{% endblock content %}